<div class="timer-container">
  <div class="score">
    <h3>Score:</h3>
    <p class="succeeded">Succeeded Promodos: {{succeededPromodos}} </p>
    <p class="discarded">Discurded Promodos: {{discardedPromodos}} </p>
  </div>
  <div class="timer">
    <div class="timer-text">
      <p>{{timerStateTaxt}}</p>
      <i [ngClass]="setPlayClasses()" (click)="toggleTimer()"></i>
      <p>{{ currTimerDisplay }}</p>
    </div>
  </div>
</div>