
.timer-container {
    position: relative;
    width: 650px;
    margin: 0 auto;
    
    .score {
        color: #0147A7;
        text-align: left;
        position: absolute;
        width: 250px;
        left: 0;
        top: 0;
        .succeeded {
            color: limegreen;
        }
        .discarded {
            color: darkred;
        }
    }
    .timer {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 auto;
        background-color: red;
        position: relative;
    }
    .timer-text {
        color: yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 160px;
        i {
            font-size: 34px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        p {
            font-size: 20px;
        }
    }
}